<!DOCTYPE html>
<html>
<head>
  <title>BrainGain</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%=  %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://use.fontawesome.com/82bdefa5b0.js' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>

<%= yield %>

</body>
</html>
